.ti-documentation-container {
	padding-top: 5px;
	padding-bottom: 10px;

	.CodeMirror-sizer {
		min-height: 14px !important;
		overflow: visible;
	}

	.CodeMirror-scroll {
		background-color: rgb(248, 248, 248);
	}

	.CodeMirror-lines {
		padding-top: 4px;
		padding-bottom: 4px; 
		padding-left: 8px; 
		padding-right: 4px;
	}

	.table {
		tr>td:last-child {
			width: 100%;
		}

		.ti-table-caption {
			font-family: "Lato";
			font-style: italic;
			color: #333;

		}

		margin-left: 20px;
	}
}

a.ti-alert {
	background-image: url(./img/error-icon.svg);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left: 19px;
	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
	    padding-left: 38px; 
	}
	display: block;
	box-sizing: border-box;
}

.ti-button {
	font-family: "Lato";
	padding: 0px 3px;
	margin-top: 2px;
	display: inline-block;
}

.ti-description { 
	font-family: "Lato"; 
	strong {
		font-weight: 800;
	}

	&:empty {
		margin-top: 6px;
		color: #8d8d8d;
		&:after {
			content: "Add some documentation!";
		}
	}

	.ti-headline {
		margin-top: 0;
	}
}

.ti-return {
	.ti-property-name p {
		font-size: 12px; 
		font-weight: bold;
		font-family: "Lato"; 
		color: #333;
		margin: 0;
		margin-top: .5em;
	}
}

.ti-headline {
	font-size: 12px; 
	font-weight: bold;
	font-family: "Lato"; 
	line-height: 14px;

	margin-bottom: .5em;
}

.ti-property-name {
	min-width: 80px;
	padding-right: 5px;
}

.ti-property-type {
	min-width: 100px;
	padding-left: 5px; 
	padding-right: 5px;
	white-space: nowrap;
}

.ti-property-description {
	font-family: "Lato"; 
	padding-left: 5px; 

	strong {
		font-weight: 800;
	}

	p {
		display: inline; 
		margin: 0;
	}
}

.ti-property {
	width: 100%;

	td {
		box-sizing: border-box;
	}
}

.ti-highlight {
	-webkit-animation-name: highlightAnimation;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes highlightAnimation {
	0% 		{ background-color: inherit; }
	25% 	{ background-color: #fff2a9 }
	75% 	{ background-color: #fff2a9 }
	100% 	{ background-color: inherit; }
}

.ti-pane {
	float: right;
	overflow: auto;
	width: 47%;
	height: 100%;
}

#ti-testCasesPane {
	background-color: #a6a6a6;

	.ti-scrollView {
		padding-top: 6px;
	}
}

.ti-testCase {
	margin: 6px 12px; 
	background-color: #f8f8f8;

	padding-bottom: 4px;

	.CodeMirror-lines {
		padding: 0;
	}

	.CodeMirror-scroll {
		// height: auto; 
		overflow-y: hidden; 
		overflow-x: auto;
	}

	.CodeMirror {
		height: auto;
	}
}

.ti-header {
	border-bottom: 1px solid #d4d4d4;
	font-family: "Lato";
	font-size: 14px;

	padding-left: 21px;
	min-height: 46px;

	margin-bottom: 4px;

	position: relative;

	.ti-headerLine, .ti-button {
		position: absolute;
		top: 50%; 
		-webkit-transform: translateY(-50%);
	}

	.ti-button {
		background-repeat: no-repeat;
		background-size: 100%;

		padding: 0;
		margin: 0;

		right: 10px;

		width: 27px;
		height: 27px;

		display: inline-block;

		&.ti-addButton {
			background-image: url(./img/add-icon.svg);
		}

		&.ti-removeButton {
			background-image: url(./img/remove-icon.svg);
		}
	}
}

.ti-testStatusIndicator {
	display: inline-block;

	width: 16px; 
	height: 16px; 
	border-radius: 50%; 

	position: relative;
	top: 3px;

	background-color: #50aa14;
	&.ti-testStatusFailed {
		background-color: #c52622;
	}
}

.ti-caption {
	margin-left: 7px;
}

.ti-roundAddButton { 
	display: block;

	margin: 0 auto;
	margin-top: 14px;

	width: 66px;
	height: 66px;
	border-radius: 50%; 

	background-color: #f8f8f8;
	background-image: url(./img/add-icon.svg);
	background-size: 39px;
	background-position: center;
	background-repeat: no-repeat;
}


