<table class="table table-striped table-condensed row-fluid">
    <tbody>
        <tr>
            <td colspan="2" class="ti-table-caption">Merged</td>
        </tr>
        <tr>
            <td class="ti-property-type">{{{type}}}</td>
            <td><a class="ti-button">Add to JSDoc</a></td>
        </tr>
        <tr>
            <td colspan="2" class="ti-table-caption">Individual Calls</td>
        </tr>
        {{#individualChanges}}
        <tr data-theseusInvocationId="{{theseusInvocationId}}">
            <td class="ti-property-type">{{{type}}}</td>
            <td><a class="ti-button">Add to JSDoc</a> <a class="ti-button">Jump to call</a></td>
        </tr>
        {{/individualChanges}}
    </tbody>
</table>
